<form id="palindrome_tester" action="/check" method="post">
  <textarea name="phrase" rows="10" cols="50"></textarea>
  <br>
  <button type="submit" class="form-submit">Is it a palindrome?</button>
</form>
